RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^(.+).korolevsky.me$
RewriteRule (.*) https://korolevsky.me/ [L,R=301,QSA]

RewriteCond %{THE_REQUEST} ^.*/index\.php
RewriteRule ^(.*)index.php$ / [R=301,L]

ErrorDocument 300 https://korolevsky.me
ErrorDocument 404 https://korolevsky.me
ErrorDocument 403 https://korolevsky.me